

button {
    background-color: rgb(208, 227, 233);
    text-decoration: none;
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    outline: none;
    height: 25px;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: rgb(239, 243, 245);
  }
  
  button:active {
    position: relative;
    top: 1px;
  }

  hr {
    height: 1px;
    background-color: lightsteelblue;
    border: none;
  }